<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yami.shop.dao.McpToolCallLogMapper">

    <select id="listByTraceId" resultType="com.yami.shop.bean.model.McpToolCallLog">
        SELECT * FROM mcp_tool_call_log WHERE trace_id = #{traceId} ORDER BY start_time
    </select>

    <select id="pageByUserId" resultType="com.yami.shop.bean.model.McpToolCallLog">
        SELECT * FROM mcp_tool_call_log WHERE user_id = #{userId} ORDER BY create_time DESC
    </select>

</mapper>

