@use "@/styles/variables.scss" as *;

.container {
  background-color: #f7f7f7;
  height: calc(100vh - 44px - env(safe-area-inset-top) - var(--tab-bar-height) - env(safe-area-inset-bottom));
  box-sizing: border-box;
  padding-bottom: 60rpx;
}
.userinfo {
  position: relative;
  width: 100%;
  background: $color-primary-gradient;
  text-align: center;
  padding: $spacing-8 0 $spacing-6;
  .userinfo-con {
    width: 240rpx;
    margin: auto;
    .userinfo-avatar {
      overflow: hidden;
      display: block;
      width: 160rpx;
      height: 160rpx;
      border-radius: 50%;
      border: 4rpx solid rgba(255, 255, 255, 0.3);
      margin: auto;
      image {
        width: 160rpx;
        height: 160rpx;
      }
    }
    .userinfo-name {
      font-size: $font-lg;
      font-weight: 500;
      margin-top: 20rpx;
      color: #fff;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
}
.userinfo-none {
  display: flex;
  padding: 30rpx;
  background: #fff;
  align-items: center;
  .default-pic {
    padding-right: 30rpx;
    image {
      width: 160rpx;
      height: 160rpx;
    }
  }
}
.none-login {
  button {
    background: #fff;
    &::after {
      border: 0;
    }
  }
  .unlogin {
    font-size: 30rpx;
    text-align: left;
    padding: 0;
  }
  .click-login {
    font-size: 26rpx;
    color: #777;
    text-align: left;
    padding: 0;
  }
}
.binding-phone {
  position: relative;
  background: #fff;
  height: 80rpx;
  line-height: 80rpx;
  padding: 0 30rpx;
  border-top: 2rpx solid #f7f7f7;
  border-bottom: 2rpx solid #f7f7f7;
  .show-tip {
    font-size: 26rpx;
  }
  .gotobinding {
    border-radius: 8rpx;
    font-size: 28rpx;
    color: #e24b4b;
    font-weight: bold;
  }
}
.list-cont {
  width: 100%;
  background: #f7f7f7;
  margin-top: 20rpx;
  .total-order {
    background: #fff;
    margin: $spacing-3;
    border-radius: $radius-lg;
    padding: $spacing-4;
    box-shadow: $shadow-sm;
    .order-tit {
      display: flex;
      justify-content: space-between;
      height: 80rpx;
      line-height: 80rpx;
      font-size: 30rpx;
      border-bottom: 1px solid #f7f7f7;
      padding: 0;
      .checkmore {
        font-size: 22rpx;
        color: #80848f;
        display: flex;
        align-items: center;
      }
    }
    .procedure {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: $font-sm;
      margin-top: $spacing-4;
      .items {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        image {
          width: 56rpx;
          height: 56rpx;
          opacity: 0.8;
        }
        text {
          font-size: $font-sm;
          color: $color-gray-600;
          margin-top: $spacing-2;
        }
        .num-badge {
          position: absolute;
          top: -8rpx;
          right: -8rpx;
          min-width: 32rpx;
          height: 32rpx;
          background: $color-error;
          color: #fff;
          font-size: $font-xs;
          border-radius: $radius-full;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 $spacing-1;
          line-height: 1;
        }
      }
    }
  }
  .my-menu {
    background: #fff;
    margin: $spacing-3;
    border-radius: $radius-lg;
    overflow: hidden;
    box-shadow: $shadow-sm;
    .memu-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $spacing-4;
      border-bottom: 1rpx solid $color-gray-100;
      &:nth-child(1) {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
      text {
        font-size: $font-base;
        color: $color-gray-800;
      }
      image {
        width: 44rpx;
        height: 44rpx;
        margin-right: $spacing-3;
      }
      .i-name {
        display: flex;
        align-items: center;
      }
    }
  }
}
.arrowhead {
  width: 16rpx;
  height: 16rpx;
  border-top: 2rpx solid $color-gray-400;
  border-right: 2rpx solid $color-gray-400;
  transform: rotate(45deg);
  margin-left: 10rpx;
}
.prod-col {
  margin: $spacing-3;
  background: #fff;
  display: flex;
  justify-content: space-around;
  padding: $spacing-4 0;
  font-size: 12px;
  border-radius: $radius-lg;
  box-shadow: $shadow-sm;
  .col-item {
    text-align: center;
    .num {
      font-size: 16px;
      font-weight: 700;
      color: $color-primary;
    }
    .tit {
      line-height: 34px;
      color: $color-gray-600;
    }
  }
}
.log-out {
  margin: $spacing-6 $spacing-3;
  .log-out-n {
    height: 88rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2rpx solid $color-gray-300;
    border-radius: $radius-lg;
    font-size: $font-base;
    color: $color-gray-600;
    background: transparent;
    &:active {
      background: $color-gray-100;
    }
  }
}
button.memu-btn.memu-item {
  background-color: #fff;
  &:after {
    border: 0;
  }
}
